name: Docs

on:
    push:
        branches:
            - testPages
        paths:
            - docs/**
            - .github/workflows/docs.yml
    pull_request:
        branches:
            - testPages
        paths:
            - docs/**
            - .github/workflows/docs.yml
    workflow_dispatch:

jobs:
    generate-docs:
        runs-on: windows-latest

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3

            - name: Setup .NET 7.0
              uses: actions/setup-dotnet@v3.0.3
              with:
                  dotnet-version: 7.0.x

            - name: Setup DocFX
              uses: crazy-max/ghaction-chocolatey@v2.1.0
              with:
                  args: install docfx

            - name: DocFX Build
              working-directory: docs
              run: docfx .\docfx.json
              continue-on-error: false

            - name: Publish
              if: github.event_name == 'push'
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: docs/_site
                  force_orphan: true
